@import url('https://fonts.googleapis.com/css?family=Open+Sans|Notable');

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans','Helvetica Neue', 'Arial', sans-serif;
    font-size: inherit;
}

aside {
    ul {
        font-weight: 700;
    }
}

.mars-font {
    display: inline-block;
    font-family: Notable;
    background: linear-gradient(29deg, #ff5c28, #ed49ac, #e232f9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}