@import url('https://fonts.googleapis.com/css?family=Open+Sans|Notable');

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans','Helvetica Neue', 'Arial', sans-serif;
    font-size: inherit;
}

aside {
    ul {
        line-height: 1.75rem;
        ul {
            li {
                padding: 0 .35rem;
                a.active {
                    background: linear-gradient(29deg, #ff5c28, #ed49ac, #e232f9);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    font-size: .75rem;
    color: #aaa;
}

.mars-font {
    display: inline-block;
    font-family: Notable;
    background: linear-gradient(29deg, #ff5c28, #ed49ac, #e232f9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    line-height: 26px;
    height: 32px;
    letter-spacing: .25rem;
}