$black: #22292f;
$grey-darkest: #3d4852;
$grey-darker: #606f7b;
$grey-dark: #8795a1;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$grey-lighter: #efefef;
$grey-lightest: #f8fafc;
$white: #fdfdfd;

$red-darkest: #60020a;
$red-darker: #ab0311;
$red-dark: #f60419;
$red: #fc4b5a;
$red-light: #fd7d88;
$red-lighter: #feafb6;
$red-lightest: #ffe1e4;

$orange-darkest: #351f00;
$orange-darker: #824b00;
$orange-dark: #ce7700;
$orange: #ff9f1c;
$orange-light: #ffb54f;
$orange-lighter: #ffca82;
$orange-lightest: #ffe0b5;

$green-darkest: #105738;
$green-darker: #178254;
$green-dark: #23c37e;
$green: #3ddc97;
$green-light: #7ee8ba;
$green-lighter: #bff3dc;
$green-lightest: #eafbf4;

$teal-darkest: #082822;
$teal-darker: #166757;
$teal-dark: #27bb9f;
$teal: #54dbc1;
$teal-light: #7ee4d0;
$teal-lighter: #a8ede0;
$teal-lightest: #d2f6ef;

$blue-darkest: #002e57;
$blue-darker: #0057a3;
$blue-dark: #0080ef; 
$blue: #5085F0;
$blue-light: #70bdff; 
$blue-lighter: #a3d4ff;
$blue-lightest: #d6ecff;

$purple-darkest: #271f4a;
$purple-darker: #3a2e6e;
$purple-dark: #4d3d92;
$purple: #614db5;
$purple-light: #8171c4;
$purple-lighter: #a195d3;
$purple-lightest: #d1cbe9;
